
@import (reference) '_/prop-dash';

.flex (@grow: _, @shrink: _, @basis: _)
{
	display: flex;
}

.flex (@grow: _, @shrink: _, @basis: _)
{
	& > *
	{
		& when (not (@grow = _) and not (@shrink = _) and not (@basis = _))
		{
			flex: @grow @shrink @basis;
		}
		& when ((@grow = _) or (@shrink = _) or (@basis = _))
		{
			.prop-dash(flex-grow; @grow);
			.prop-dash(flex-shrink; @shrink);
			.prop-dash(flex-basis; @basis);
		}
	}
}


.grow (@grow: 1)
{
	flex-grow: @grow;
}

.shrink (@shrink: 1)
{
	flex-shrink: @shrink;
}


.flex--center ()
{
	.flex;
	align-items: center;
	justify-content: center;
}

.flex--row ()
{
	flex-direction: row;
}
