
@import (reference) '_/prop-dash';

.pos (@top: 0; @left: 0)
	when ((isnumber(@top))  or (@top  = _))
	and  ((isnumber(@left)) or (@left = _))
{
	.pos(tl; @top; @left);
}

.pos (tl; @top: 0; @left: 0)
{
	.prop-dash(top; @top);
	.prop-dash(left; @left);
}

.pos (bl; @bottom: 0; @left: 0)
{
	.prop-dash(bottom; @bottom);
	.prop-dash(left; @left);
}

.pos (tr; @top: 0; @right: 0)
{
	.prop-dash(top; @top);
	.prop-dash(right; @right);
}

.pos (br; @bottom: 0; @right: 0)
{
	.prop-dash(bottom; @bottom);
	.prop-dash(right; @right);
}

.relative (@rest...)
{
	position: relative;

	.pos(@rest...);
}

.absolute (@rest...)
{
	position: absolute;

	.pos(@rest...);
}

.fixed (@rest...)
{
	position: fixed;

	.pos(@rest...);
}
