.flex {
  display: flex;
}
.flex-g {
  display: flex;
}
.flex-g > * {
  flex-grow: 1;
}
.flex-s1 {
  display: flex;
}
.flex-s1 > * {
  flex-shrink: 0;
}
.flex-s2 {
  display: flex;
}
.flex-s2 > * {
  flex-shrink: 0;
}
.flex-basis1 {
  display: flex;
}
.flex-basis1 > * {
  flex-basis: 100px;
}
.flex-basis2 {
  display: flex;
}
.flex-basis2 > * {
  flex-basis: 100px;
}
.flex-gs1 {
  display: flex;
}
.flex-gs1 > * {
  flex-grow: 1;
  flex-shrink: 0;
}
.flex-gs2 {
  display: flex;
}
.flex-gs2 > * {
  flex-grow: 1;
  flex-shrink: 0;
}
.flex-sb1 {
  display: flex;
}
.flex-sb1 > * {
  flex-shrink: 0;
  flex-basis: 100px;
}
.flex-sb2 {
  display: flex;
}
.flex-sb2 > * {
  flex-shrink: 0;
  flex-basis: 100px;
}
.flex-flex1 {
  display: flex;
}
.flex-flex1 > * {
  flex: 0 0 auto;
}
.flex-flex2 {
  display: flex;
}
.flex-flex2 > * {
  flex: 1 0 auto;
}
.grow {
  flex-grow: 1;
}
.grow-extra {
  flex-grow: 2;
}
.shrink {
  flex-shrink: 1;
}
.no-shrink {
  flex-shrink: 0;
}
